
@media screen and (max-width: 1300px) {
  
  .about-containers {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1000px) {
  section{
    padding-top: 10vh;
  }
  #desktop-nav {
    display: none;
  }
  nav{
    justify-content:space-around ;
    align-items: center;
    height:10vh;
    
}
  #hamburger-nav {
    display: flex;
  }
  #hamburger-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 10px; 
    background-color: rgb(85, 85, 85); 
    z-index: 1000; 
    display: flex;
    justify-content: space-between; 
    
}

  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 250px;
    height: 250x;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
}

@media screen and (max-width: 900px) {
  #contact,
  footer {
    height: 80vh;
  }
  .form{
    height: 40vh;
  }
  
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 0.8rem;
  }
  footer nav {
    height: fit-content;
    margin-top: 15rem;
    margin-bottom: 0rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: auto;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.0rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.2rem;
    text-align: center;
  }
  .section__pic-container {
    width: 42vw;
    height: 42vw;
   
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 0.8rem;
  }
  .title {
    font-size: 1.5rem;
  }
  .text-container {
    text-align: justify;
  }
  
}

@media screen and (max-width: 700px) {
  nav{
    justify-content:space-around ;
    align-items: center;
    height:10vh;   
}
  #contact,
  footer {
    height: 80vh;
  }
  .form{
    
    height: 40vh;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
    margin-top: 4vh;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
    margin-top: 20rem;
    height:10vh;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: auto;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.0rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.2rem;
    text-align: center;
  }
  .section__pic-container {
    width: 60vw;
    height: 60vw;
   
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 0.8rem;
  }
  .title {
    font-size: 1.5rem;
  }
  .text-container {
    text-align: justify;
  }
  
}